<div class="form-group">
	<label>{{locale_str_twitter_widget_id}}</label>
	<p class="help-block">{{locale_str_twitter_widget_id_info}}</p>
	<input class="form-control" type="text" onblur="this.value = this.value.match(/\d{18,}/)" name="setting_widget_id" value="{{widget_id}}" />
</div>

<div class="form-group">
	<label>{{locale_str_twitter_max_tweets}}</label>
	<select class="form-control" name="setting_max_tweets">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
	</select>
</div>

<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" name="setting_show_avatars" value="true" {{#show_avatars}}checked="checked"{{/show_avatars}} />
			{{locale_str_twitter_show_avatars}}
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox" name="setting_show_time" value="true" {{#show_time}}checked="checked"{{/show_time}} />
			{{locale_str_twitter_show_time}}
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox" name="setting_show_actions" value="true" {{#show_actions}}checked="checked"{{/show_actions}} />
			{{locale_str_twitter_show_actions}}
		</label>
	</div>
</div>


<script type="text/javascript">
	max = '{{max_tweets}}';
	if (max == '') max = '5';
	$("select[name=setting_max_tweets] option[value=" + max + "]", "#{{modalId}}").prop("selected", "selected");
</script>