<div class="btn btn-default" onclick="AdvancedObjectRights.show(28740, ['528cb0415861f132030000a4', '5219f67c5861f10439000001'], ['532705a55861f1272b000055'], function(rights, userIds, groupIds) { window.alert(JSON.stringify([rights, userIds, groupIds])) });">Rights</div>