<form action="__api__/users/{{id}}" method="post">
	<div class="form-group">
		<label>{{locale_str_system_name}}</label>
		<div class="row">
			<div class="col-sm-4">
				<input class="form-control" type="text" name="firstname" data-validation="required" placeholder="{{locale_str_users_firstname}}" value="{{firstname}}" />
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="infix" placeholder="{{locale_str_users_infix}}" value="{{infix}}" />
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="lastname" data-validation="required" placeholder="{{locale_str_users_lastname}}" value="{{lastname}}" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>{{locale_str_users_email}}</label>
		<input class="form-control" type="text" name="email" data-validation="required email" value="{{email}}" />
	</div>
</form>
