<!--<div class="row avatar-form">-->
	<!--<div class="col-sm-6">-->
		<h4>{{locale_str_users_use_gravatar}}</h4>
		<div class="thumbnail avatar gravatar">
			<img src="{{gravatar}}&s=256" alt="{{fullname}}">
		</div>
		<p>{{locale_str_users_gravatar_info}}</p>
		<div class="center-block">
			<a href="http://www.gravatar.com" target="_blank" class="btn btn-default">{{locale_str_users_goto_gravatar}}</a>
		</div>
	<!--</div>-->
	<!--<div class="divider visible-xs row-offset4"></div>-->
	<!--<div class="col-sm-6">-->
		<!--<h4>{{locale_str_users_upload_own}}</h4>-->
		<!--<div class="thumbnail avatar">-->
			<!--<img src="{{avatar}}&s=256" alt="{{fullname}}">-->
		<!--</div>-->
		<!--<p>{{locale_str_users_upload_own_info}}</p>-->
		<!--<div class="center-block">-->
			<!--<form enctype="multipart/form-data" action="__api__/files/" method="post" class="file-upload-form pull-left">-->
				<!--<input type="hidden" name="_method" value="put"/>-->
				<!--<input type="hidden" name="folderid" value="{{folderid}}"/>-->
				<!--<input type="file" name="file" class="file-input" onchange="if (this.value !== '') UsersView.uploadAvatar();" />-->
			<!--</form>-->
			<!--<button class="btn btn-default ">{{locale_str_users_upload}}</button>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->