<div class="row user-info">
	{{#items}}
		<div class="{{#classes}}{{classes}}{{/classes}}{{^classes}}col-xs-4 col-sm-3 col-lg-2{{/classes}}">
			<a href="{{users_page_url}}?userid={{id}}" class="thumbnail avatar">
				{{#has_avatar_partial}}{{> avatar_partial}}{{/has_avatar_partial}}
				<img src="{{avatar}}&s=256" alt="{{fullname}}">
				<div class="name">{{fullname}}</div>
			</a>
		</div>
	{{/items}}
</div>