<div class="row avatar-form">
	<div class="col-sm-6">
		<div class="avatar-container {{#uses_gravatar}}selected{{/uses_gravatar}}">
			<h4>{{locale_str_users_use_gravatar}}</h4>
			<div class="thumbnail gravatar {{#uses_gravatar}}selected{{/uses_gravatar}}">
				<img src="{{gravatar}}" alt="{{fullname}}">
			</div>
		</div>
		<a href="http://www.gravatar.com" target="_blank" class="btn btn-block btn-default">
			<i class="fa fa-globe"></i>
			{{locale_str_users_goto_gravatar}}
		</a>
		<p class="row-offset2">
			{{locale_str_users_gravatar_info}}
		</p>
	</div>
	<div class="divider visible-xs row-offset4"></div>
	<div class="col-sm-6">
		<div class="avatar-container {{^uses_gravatar}}selected{{/uses_gravatar}}">
			<h4>{{locale_str_users_upload_own}}</h4>
			<div class="thumbnail avatar">
				<img src="{{avatar}}" alt="{{fullname}}">
			</div>
		</div>
		<form enctype="multipart/form-data" action="__api__/users/{{id}}/avatar" method="post" class="file-upload-form pull-left">
			<input type="hidden" name="_method" value="post" />
			<input type="file" name="file" class="file-input hidden" onchange="if (this.value !== '') UsersView.uploadAvatar($(this).parent());" />
		</form>
		<button class="btn btn-default btn-block btn-delete {{#uses_gravatar}}hidden{{/uses_gravatar}}" data-loading-text="{{locale_str_users_delete_avatar}}..." onclick="UsersView.deleteAvatar()">
			<i class="fa fa-trash-o"></i>
			{{locale_str_users_delete_avatar}}
		</button>
		<button class="btn btn-default btn-block btn-upload" data-loading-text="{{locale_str_users_upload}}..." onclick="$('form', '.avatar-form').children('.file-input').click()">
			<i class="fa fa-upload"></i>
			{{locale_str_users_upload}}
		</button>
		<p class="row-offset2">
			{{locale_str_users_upload_own_info}}
			{{^uses_gravatar}}{{locale_str_users_delete_info}}{{/uses_gravatar}}
		</p>
	</div>
</div>