*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
uploads/*
logs/*
.idea

webapp/views/*/*.min.js
webapp/views/*/*.min.css
webapp/mojura/js/*.min.js
webapp/mojura/css/*.min.css

# YARD artifacts
.yardoc
_yardoc
doc/
