<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="banner">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="glyphicon glyphicon-bar"></span>
	      <span class="glyphicon glyphicon-bar"></span>
	      <span class="glyphicon glyphicon-bar"></span>
	    </button>
		  {{#brand_name}}
	      <a class="navbar-brand" href="#">{{brand_name}}</a>
	    {{/brand_name}}
	  </div>


		{{#has_pages}}
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					{{#pages}}
						<li class=""><a href="{{page_url}}">{{title}}</a></li>{{inc_index}}
					{{/pages}}
				</ul>

				{{#show_page_editor}}
					{{{page_editor}}}
				{{/show_page_editor}}
			</div>
		{{/has_pages}}
	</div>
</nav>