<div class="btn-toolbar pull-right">
	<div class="btn-group btn-edit-page hidden pull-left">
		<button class="btn btn-default btn-sm" onclick="PageEditor.showEditPage()">
			<span class='fa fa-cog'></span>
		</button>
		<button class="btn btn-default btn-sm" onclick="PageEditor.showDeletePage()" id="btn_delete_page">
			<span class='fa fa-trash-o'></span>
		</button>
		<button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
			<span class="fa fa-plus"></span> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			{{#templates}}
				<li><a href="javascript:void(0)" onclick="PageEditor.addSubview('{{templateid}}')">{{title}}</a></li>
			{{/templates}}
			<li class="divider"></li>
			<li><a href="javascript:void(0)" onclick="PageEditor.showAddSubpage()">{{locale_str_system_subpage}}</a></li>
			<li><a href="javascript:void(0)" onclick="PageEditor.showAddMainpage()">{{locale_str_system_mainpage}}</a></li>
		</ul>
	</div>
	<button class="btn btn-default btn-sm pull-left" data-toggle="button" onclick="PageEditor.togglePageAdmins()" id="toggle_edit_page">
		<span class='fa fa-pencil'></span>
	</button>
</div>