{{#no_wrapping}}
	{{{render_view}}}
{{/no_wrapping}}
{{#simple_wrapping}}
	<div class="{{classes}}">
		{{{render_view}}}
		<div class="clearfix"></div>
	</div>
{{/simple_wrapping}}
{{#normal_wrapping}}
	{{view_id}}
	<div class="{{classes}} view">
		{{#may_edit_view}}
			<div class="view-admin btn-group hidden">
				<div class="btn btn-default btn-xs pull-left sortable-handle"><span class="fa fa-move"></span></div>
				<button class="btn btn-default btn-xs pull-left" onclick="PageEditor.showEditView(this.parentNode.parentNode)" data-original-title="test edit"><span class="fa fa-pencil"></span></button>
				<button class="btn btn-default btn-xs pull-left" onclick="PageEditor.showDeleteView(this.parentNode.parentNode)" data-original-title="test delete"><span class="fa fa-trash-o"></span></button>
			  <button class="btn btn-default btn-xs hidden btn-edit-page dropdown-toggle" data-toggle="dropdown">
			  	<span class="fa fa-plus"></span> <span class="caret"></span>
		  	</button>
				<ul class="dropdown-menu">
					{{#templates}}
		    		<li><a href="javascript:void(0)" onclick="PageEditor.addSubview('{{templateid}}', '{{viewid}}')">{{title}}</a></li>
					{{/templates}}
		  	</ul>
			</div>
		{{/may_edit_view}}
		{{#has_html}}
			<div class="view-text">
				{{{html}}}
				<div class="clearfix"></div>
			</div>
		{{/has_html}}
		{{#has_data}}
			<div class="view-data">
				{{{render_view}}}
				<div class="clearfix"></div>
			</div>
		{{/has_data}}
		{{#has_subviews}}
			<div class="view-subviews row">
				{{#subviews}}
					{{{render_subview}}}
				{{/subviews}}
				<div class="clearfix"></div>
			</div>
		{{/has_subviews}}
	</div>
{{/normal_wrapping}}