<div class="form-group">
	<label>{{locale_str_maps_zoom}}</label>
  <select id="setting_zoom_{{urid}}" class="form-control" type="text" name="setting_zoom">
		<option value="">{{locale_str_maps_zoom_auto}}</option>
		<option value="0">0 - {{locale_str_maps_zoom_min}}</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
		<option>15</option>
		<option>16</option>
		<option>17</option>
		<option>18</option>
		<option value="19">19 - {{locale_str_maps_zoom_max}}</option>
	</select>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_disable_scrollwheel" {{#disable_scrollwheel}}checked{{/disable_scrollwheel}}> {{locale_str_maps_disable_scrollwheel}}
	</label>
</div>

<script type='text/javascript'>
	{{#zoom}}
		$("#setting_zoom_{{urid}}").val({{zoom}});
	{{/zoom}}
</script>
