

<script type="text/javascript">
	var NewsView = (function ($) {

	function showModal(id, newsid) {

	}

	function showAdd() {

	}

	function showEdit() {

	}

	function showDelete() {

	}

	return {
	showAdd: showAdd,
	showEdit: showEdit,
	showDelete: showDelete
	}

	})(jQuery);
</script>