<div class="btn-group row">
	<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
	<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
	<button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
</div>
