<div class="btn-group row">
	<button class="btn btn-small"><i class="icon-plus"></i></button>
	<button class="btn btn-small"><i class="icon-pencil"></i></button>
	<button class="btn btn-small"><i class="icon-trash"></i></button>
</div>
