<div class="form-group">
	<label for="view_type_{{urid}}">{{locale_str_polls_view_type}}</label>
	<select id="view_type_{{urid}}" class="form-control" name="setting_view_type">
		<option value="list">{{locale_str_polls_view_type_list}}</option>
		<option value="last_active">{{locale_str_polls_view_type_last_active}}</option>
	</select>
</div>

<script type="text/javascript">
	$("view_type_{{urid}}").val("{{view_type}}");
</script>