<input type="hidden" name="setting_fileids" value="{{fileids}}" />

<div class="current_images"></div>
<a href="javascript:void(0)" class="btn btn-default image_add_button" onclick="ImageEditView.addImage();">
	<span class="fa fa-plus"></span>
</a>
<div class="select_file_container clearfix"></div>

<label class="checkbox slideshow-checkbox">
	<input type="checkbox" name="setting_slideshow" value="true" {{#slideshow}}checked="checked"{{/slideshow}} />
	{{locale_str_images_slideshow}}
</label>

<style type="text/css">

	{{modalId}} .image-thumb	{
		margin: 0 5px 5px 0;
		background-color: #EEEEEE;
	}

	{{modalId}} .image-thumb img	{
		width: 64px;
		height: 64px;
	}

	{{modalId}} .image_add_button {
		display: inline-block;
		margin: 17px 12px;
	}
</style>


<script type="text/javascript">
	var ImageEditView = (function($) {

		"use strict";

		function setFileIdsToForm() {
			var fileids = [];
			$(".image-thumb", "#{{modalId}}").each(function(index) {
				fileids.push($(this).attr("data-fileid"));
			});
			$("[name=setting_fileids]", "#{{modalId}}").val(fileids.join(","));
			if (fileids.length > 1)
				$(".slideshow-checkbox", "#{{modalId}}").show();
			else
				$(".slideshow-checkbox", "#{{modalId}}").hide();

		}

		function getFileIdsFromForm() {
			var ids_str = $("[name=setting_fileids]", "#{{modalId}}").val();
			return (ids_str !== "") ? ids_str.split(",") : [];
		};

		function fileIdToHTML(fileid) {
			return "<div class='pull-left image-thumb' onclick='ImageEditView.removeImage(this)' data-fileid='" + fileid + "'><img src='__api__/files/" + fileid + "/download?type=avatar' alt='' /></div>"
		};

		function showImages() {
			var ids = getFileIdsFromForm();
			var html = "";
			for (var i in ids) {
				html += fileIdToHTML(ids[i]);
			}
			$(".current_images", "#{{modalId}}").html(html);
		};

		function addImage() {
			Locale.ensureLoaded('files', {loaded: function () {
				var url = "views/files/coworkers/select_file.mustache?static_only=true";
				$.get(url, {cache: false}, function (template) {
					var html = Mustache.to_html(template, Locale.getViewsStrings(["system", "files"]));
					$("#{{modalId}} .select_file_container").html(html);
					SelectFile.show({multi: true, parentModalId: "#{{modalId}}", filter: [".png", ".jpeg", ".jpg", "gif"],
						confirmed: function (ids) {
							for (var i in ids) {
								if ($(".current_images div[data-fileid=" + ids[i] + "]", "#{{modalId}}").length === 0)
									$(".current_images", "#{{modalId}}").append(fileIdToHTML(ids[i]));
							}
							setFileIdsToForm();
						},
						hidden: function () {
						}
					});
				});
			}});
		};

		function removeImage(obj) {
			$(obj).remove();
			setFileIdsToForm();
		};

		showImages();

		return {
			showImages: showImages,
			addImage: addImage,
			removeImage: removeImage
		};

	})(jQuery);

</script>

