<ul class="thumbnails pull-left" style="margin-right: 10px">
  <li class="thumbnail">
    <a><img src="{{avatar}}&s=170" style="width: 170px; height: 170px" alt=""></a>
  </li>
</ul>
<div class="pull-left" style="display: inline">
	<h3 style="margin-top: 0" data-key="fullname">
		<span data-key="fullname">{{fullname}}</span>
		{{#may_update}}
			<a href="#modal-edit-profile" class="btn btn-default btn-xs" onclick="ProfileView.resetForms()" data-toggle="modal">
				<span class="glyphicon glyphicon-cog"></span>
			</a>
		{{/may_update}}
	</h3>
	<div class="key-value-container">
		<div class="pull-left" style="width: 170px">{{locale_str_profile_username}}:</div>
		<div class="pull-left" data-key="username" data-value="{{username}}">{{username}}</div>
	</div>
	{{#may_update}}
		<div class="key-value-container">
			<div class="pull-left" style="width: 170px">{{locale_str_profile_password}}:</div>
			<div class="pull-left"><a href="#modal-edit-password" onclick="ProfileView.resetForms()" data-toggle="modal">{{locale_str_profile_edit_password}}</a></div>
		</div>
	{{/may_update}}
	<div class="key-value-container">
		<div class="pull-left" style="width: 170px">{{locale_str_profile_email}}:</div>
		<div class="pull-left" data-key="email">{{{safe_email}}}</div>
	</div>
</div>

{{#may_update}}
	<div class="modal fade" id="modal-edit-profile">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">×</button>
			    <h3 class="action_add">{{locale_str_profile_edit_profile_title}}</h3>
			  </div>
			  <div class="modal-body">
			    <form action="__api__/users/{{id}}" method="post">

						<div class="form-group">
				      <label>{{locale_str_profile_name}}</label>
							<div class="row">
								<div class="col-sm-4">
									<input class="form-control" type="text" name="firstname" data-validation="required" placeholder="{{locale_str_profile_firstname}}" value="{{firstname}}" />
                </div>
                <div class="col-sm-4">
									<input class="form-control" type="text" name="infix" placeholder="{{locale_str_profile_infix}}" value="{{infix}}" />
                </div>
                  <div class="col-sm-4">
									<input class="form-control" type="text" name="lastname" data-validation="required" placeholder="{{locale_str_profile_lastname}}" value="{{lastname}}" />
                </div>
              </div>
						</div>
            <div class="form-group">
				      <label>{{locale_str_profile_email}}</label>
				      <input class="form-control" type="text" name="email" data-validation="required email" value="{{email}}" />
						</div>
			    </form>
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">{{locale_str_system_cancel}}</a>
			    <a href="#" class="btn btn-default btn-primary" data-loading-text='{{locale_str_system_save}}...' onclick="try { ProfileView.editProfile() } finally { result = false } return result">{{locale_str_system_save}}</a>
			  </div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-edit-password">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">×</button>
			    <h3 class="action_add">{{locale_str_profile_edit_password_title}}</h3>
			  </div>
			  <div class="modal-body">
			    <form action="__api__/users/{{id}}" method="post">
			      <input type="hidden" name="realm" value="{{realm}}" />

			      {{#force_old_password}}
	            <div class="form-group">
					      <label>{{locale_str_profile_password_old}}</label>
					      <input class="form-control" type="password" name="password_old" value="" />
							</div>
				    {{/force_old_password}}

            <div class="form-group">
				      <label>{{locale_str_profile_password_new}}</label>
				      <input class="form-control" type="password" name="password_new" value="" />
						</div>

            <div class="form-group">
				      <label>{{locale_str_profile_password_check}}</label>
				      <input class="form-control" type="password" name="password_check" value="" />
						</div>
			    </form>
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">{{locale_str_system_cancel}}</a>
			    <a href="#" class="btn btn-default btn-primary" data-loading-text='{{locale_str_system_save}}...' onclick="try { ProfileView.editPassword() } finally { result = false } return result">{{locale_str_system_save}}</a>
			  </div>
			</div>
		</div>
</div>
{{/may_update}}