<div class="polls">
	{{#polls}}
		<div class="poll poll-{{id}} row-offset4">
			<div class="title strong">
				{{#show_admin}}
					<div class="btn-group btn-group-sm pull-right">
						<button type="button" class="btn btn-default" onclick="PollsView.showAdd()"><i class="fa fa-plus"></i></button>
						<button type="button" class="btn btn-default" onclick="PollsView.showEdit('{{id}}')"><i class="fa fa-pencil"></i></button>
						<button type="button" class="btn btn-default" onclick="PollsView.showDelete('{{id}}')"><i class="fa fa-trash-o"></i></button>
					</div>
				{{/show_admin}}
				{{title}}
				{{#show_active}}
					{{#active}}
						<span class="label label-success">{{locale_str_polls_active}}</span>
					{{/active}}
					{{^active}}
						<span class="label label-warning">{{locale_str_polls_inactive}}</span>
					{{/active}}
				{{/show_active}}
			</div>
			<div class="data-container clearfix">
				{{#voteable}}
					<div class="description">{{description}}</div>
					<ul class="poll-options">
						{{#options}}
							<li onclick="$(this).children('input').select(); PollsView.vote('{{id}}', '{{index}}')"><input type="radio" onclick="this.parentNode.click();" />{{title}}</li>
						{{/options}}
					</ul>
				{{/voteable}}
			</div>
		</div>
	{{/polls}}
</div>

<script type="text/javascript">
	{{#polls}}
		{{^voteable}}
			PollsView.showResults('{{id}}');
		{{/voteable}}
	{{/polls}}
</script>

<style type="text/css">
	.poll-options {
		margin-bottom: 10px;
		list-style-type: none;
	}

	.poll-options li {
		margin-top: 5px;
		cursor: pointer;
	}

	.poll-options li input {
		position: absolute;
		margin-left: -30px
	}
</style>