{{#groups}}
	<div data-id="{{id}}" class="listitem clearfix hover-glow">
		<div class="btn-group pull-right">
			<button class="btn btn-default btn-xs" onclick="AdvancedObjectRights.removeId(this, 'groups')">
				<span class='fa fa-trash-o'></span>
			</button>
		</div>
		{{name}}
	</div>
{{/groups}}