<div class="modal lightbox fade" id="lightbox-{{group}}">
	<div class="lightbox-dialog modal-dialog">

		<div class="lightbox-content">
			<img src="" class="lightbox-image hidden" alt="" />

			<div class="aspect-ratio">
				<video class="lightbox-video hidden" controls>
					<source src="">
				</video>
				<iframe class="lightbox-iframe hidden" />
			</div>
		</div>

		<div class="lightbox-control lightbox-close" data-dismiss="modal">
			<span class="fa fa-times-thin"></span>
		</div>

		<div class="lightbox-control lightbox-left">
			<span class="fa fa-angle-left" onclick="LightBox.previous()"></span>
		</div>

		<div class="lightbox-control lightbox-right">
			<span class="fa fa-angle-right" onclick="LightBox.next()"></span>
		</div>

	</div>
</div>