<div class="modal lightbox fade" id="lightbox-{{group}}">
	<div class="lightbox-dialog">
		<div class="lightbox-content">
			<img src="__api__/files/5307646b5861f17f4f000014/download" alt="" />
		</div>
	</div>
</div>