<form action="javascript:void(0)" method="post" onsubmit="">
	<input type="hidden" name="pageid" value="{{pageid}}" />
	<input type="hidden" name="viewid" value="test" />

	<ul class="nav nav-tabs nav-bottom-space">
		<li class="active"><a href="#form_view_content" data-toggle="tab">{{locale_str_system_view_content}}</a></li>
		<li><a href="#form_view_advanced" data-toggle="tab">{{locale_str_system_view_advanced}}</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="form_view_content">

			<div class="form-group">
				<label for="{{urid}}_title">{{locale_str_system_view_webview}}</label>
				<select id="{{urid}}_title" class="form-control" name="view" onchange="PageEditor.checkVisibilityTextEditor()">
					<option value="">{{locale_str_system_view_no_webview}}</option>
					{{#views}}
						<option class="min-col-span{{min_col_span}}" value="{{view_id}}">{{title}}</option>
					{{/views}}
				</select>
			</div>

			<div class='form-group view_include_text'>
				<label>
					<input type='checkbox' onchange="$('#form_view_content .view_texteditor').toggle(this.checked)" />
					{{locale_str_system_view_include_text}}
				</label>
			</div>

			<div class="view_texteditor form-group">
				<label for="{{urid}}_content">{{locale_str_system_view_text}}</label>
				<textarea id="{{urid}}_content" class="form-control" name="content" rows="6"></textarea>
			</div>

			<div class="clearfix"></div>

			<div class="view-settings"></div>
		</div>

		<div class="tab-pane" id="form_view_advanced">
			<div class="form-group">
				<label for="{{urid}}_col_span">{{locale_str_system_view_col_span}}</label>
				<select id="{{urid}}_col_span" class="form-control" name="col_span">
					{{#col_spans}}
						<option value="{{index}}">{{title}}</option>
					{{/col_spans}}
				</select>
			</div>

			<div class="form-group">
				<label for="{{urid}}_col_offset">{{locale_str_system_view_col_offset}}</label>
				<select id="{{urid}}_col_offset" class="form-control" name="col_offset">
					{{#col_offsets}}
						<option value="{{index}}">{{title}}</option>
					{{/col_offsets}}
				</select>
			</div>

			<div class="form-group">
				<label for="{{urid}}_row_offset">{{locale_str_system_view_row_offset}}</label>
				<select id="{{urid}}_row_offset" class="form-control" name="row_offset">
					{{#row_offsets}}
						<option value="{{index}}">{{title}}</option>
					{{/row_offsets}}
				</select>
			</div>
			<div class="form-group">
				<label for="{{urid}}_classes">{{locale_str_system_view_classes}}</label>
				<input id="{{urid}}_classes" class="form-control" type="text" name="setting_classes" value="" />
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</form>