<form action="javascript:void(0)" method="post" onsubmit="return false">
	<input type="hidden" name="pageid" value="{{pageid}}" />
	<input type="hidden" name="viewid" value="" />
	{{locale_str_system_delete_view_warning}}
</form>