<form action="__api__/pages/{{pageid}}/view/{{viewid}}" method="post">
	<input type="hidden" name="_method" value="put" />

	<ul class="nav nav-tabs nav-bottom-space">
		<li class="active"><a href="#form_view_content" data-toggle="tab">{{locale_str_system_view_content}}</a></li>
		<li><a href="#form_view_advanced" data-toggle="tab">{{locale_str_system_view_advanced}}</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="form_view_content">

			<div class="form-group">
				<label for="title_{{urid}}">{{locale_str_system_view_webview}}</label>
				<select id="title_{{urid}}" class="form-control" name="view">
					<option value="">{{locale_str_system_view_no_webview}}</option>
					{{#views}}
						<option class="min-col-span{{min_col_span}}" value="{{view_id}}">{{title}}</option>
					{{/views}}
				</select>
			</div>

			<div class="view_texteditor form-group">
				<label for="content_{{urid}}">{{locale_str_system_view_text}}</label>
				<textarea id="content_{{urid}}" class="form-control" name="content">{{content.raw}}</textarea>
			</div>

			<div class="clearfix"></div>

			<div class="view-settings"></div>
		</div>

		<div class="tab-pane" id="form_view_advanced">
			<div class="form-group">
				<label for="col_span_{{urid}}">{{locale_str_system_view_col_span}}</label>
				<select id="col_span_{{urid}}" class="form-control" name="col_span">
					{{#available_col_spans}}
						<option>{{.}}</option>
					{{/available_col_spans}}
				</select>
			</div>

			<div class="form-group">
				<label for="col_offset_{{urid}}">{{locale_str_system_view_col_offset}}</label>
				<select id="col_offset_{{urid}}" class="form-control" name="col_offset">
					{{#available_col_offsets}}
						<option>{{.}}</option>
					{{/available_col_offsets}}
				</select>
			</div>

			<div class="form-group">
				<label for="row_offset_{{urid}}">{{locale_str_system_view_row_offset}}</label>
				<select id="row_offset_{{urid}}" class="form-control" name="row_offset">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
				</select>
			</div>
			<div class="form-group">
				<label for="classes_{{urid}}">{{locale_str_system_view_classes}}</label>
				<input id="classes_{{urid}}" class="form-control" type="text" name="setting_classes" value="{{settings.classes}}" />
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</form>