<form action="__api__/pages/{{pageid}}" method="post" onsubmit="return false">
	<div class="form-group">
		<label for="{{urid}}_title">{{locale_str_system_title}}</label>
		<input id="{{urid}}_title" class="form-control" type="text" name="title" value="{{title}}" />
	</div>
</form>