<form action="__api__/pages/{{id}}" method="post" onsubmit="return false">
	<input type="hidden" name="_method" value="{{method}}" />
	{{#parentid}}<input type="hidden" name="parentid" value="{{parentid}}" />{{/parentid}}
	<div class="form-group">
		<label for="title_{{urid}}">{{locale_str_system_title}} *:</label>
		<input id="title_{{urid}}" class="form-control" type="text" name="title" value="{{title}}" data-validation="required" />
	</div>
</form>