
{{#simple_rights}}
	<div class="form-control">
		<label>
			<input type="radio" name="rights" />
			{{locale_str_system_rights_visible}}
		</label>
	</div>
{{/simple_rights}}
{{^simple_rights}}

{{/simple_rights}}
