<div class="form-group">
	<input type="hidden" id="rights-{{urid}}" name="rights" value="{{rights.rights}}">
	<input type="hidden" id="userids-{{urid}}" name="userids" value="{{#rights.userids}}{{.}},{{/rights.userids}}">
	<input type="hidden" id="groupids-{{urid}}" name="groupids" value="{{#rights.groupids}}{{.}},{{/rights.groupids}}">
	<div>
		<label for="rights-{{urid}}">{{locale_str_system_rights_advanced}}:</label>
	</div>
	<div id="static-input-group-{{urid}}" class="static-input-group">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{locale_str_system_rights_advanced}} <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="javascript:void(0)" data-rights="28740">{{locale_str_system_rights_advanced_users_guests}}</a><li>
				<li><a href="javascript:void(0)" data-rights="28736">{{locale_str_system_rights_advanced_users_only}}</a><li>
				<li><a href="javascript:void(0)" data-rights="12292">{{locale_str_system_rights_advanced_guests_only}}</a><li>
				<li><a href="javascript:void(0)" data-rights="29696">{{locale_str_system_rights_advanced_groups_only}}</a><li>
				<li><a href="javascript:void(0)" data-rights="28672">{{locale_str_system_rights_advanced_owners_only}}</a><li>
				<li><a href="javascript:void(0)" data-rights="0">{{locale_str_system_rights_advanced_admin_only}}</a><li>
				<li class="divider"></li>
				<li><a href="javascript:void(0)" class="advanced-show">{{locale_str_system_rights_advanced_show}}...</a></li>
			</ul>
		</div>
		<div class="description well">&nbsp;</div>
	</div>
</div>

<script type="text/javascript">

	var AdvancedRightsControls = (function($) {

		function initialize(rights) {
			setRights(rights);

			$("li > a[data-rights]", "#static-input-group-{{urid}}").click(function(){
				setRights($(this).attr("data-rights"));
			});

			$("li > a.advanced-show", "#static-input-group-{{urid}}").click(function(){
				AdvancedObjectRights.show(
					$("#rights-{{urid}}").val(),
					($("#userids-{{urid}}").val() || "").replace(/\,+$/, "").split(","),
					($("#groupids-{{urid}}").val() || "").replace(/\,+$/, "").split(","),
					{
						parentModalId: $("#static-input-group-{{urid}}").closest(".modal").attr("id"),
						onsave: function(rights, userIds, groupIds) {
							setRights(rights, userIds, groupIds);
						}
					});
				});

		}

		function setRights(rights, userids, groupids) {
			$("#rights-{{urid}}").val(rights);
			var $option = $("li > a[data-rights=" + rights + "]", "#static-input-group-{{urid}}").first();
			if ($option.size() > 0) {
				$(".description", "#static-input-group-{{urid}}").html($option.html());
			} else {
				$(".description", "#static-input-group-{{urid}}").html($(".advanced-show", "#static-input-group-{{urid}}").html());
			}
			if (typeof userids !== "undefined") {
				$("#userids-{{urid}}").val(userids.join(","));
			}
			if (typeof groupids !== "undefined") {
				$("#groupids-{{urid}}").val(groupids.join(","));
			}
		}

		return {
			initialize: initialize,
			setRights: setRights
		}

	})(jQuery);

	AdvancedRightsControls.initialize({{rights.rights}});

</{{escaping_script_tag}}script>