<form>
	<div class="form-group">
		<label for="{{uid}}_email">{{locale_str_system_email}}</label>
		<input id="{{uid}}_email" class="form-control" type="text" name="email" value="{{email}}" />
	</div>
	<div class="form-group">
		<label for="{{urid}}_visible_text">{{locale_str_system_visible_text}}</label>
		<input id="{{urid}}_visible_text" class="form-control" type="text" name="visible_text" value="{{visible_text}}" />
	</div>
</form>
