<form>
	<div class="form-group">
		<label for="video_{{urid}}" >{{locale_str_system_url}} *:</label>
		<input id="video_{{urid}}" class="form-control" type="text" name="video" value="{{video}}" data-validation="required url" />
	</div>
</form>