<form>
	<div class="form-group">
		<label for="{{uid}}_video" >{{locale_str_system_url}} *:</label>
		<input id="{{uid}}_video" class="form-control" type="text" name="video" value="{{video}}" data-validation="required url" />
	</div>
</form>