<form>
	<div class="form-group">
		<div class="form-group">
			<label for="url_{{urid}}">{{locale_str_system_url}} *:</label>
			<input id="url_{{urid}}" class="form-control" type="text" name="url" value="{{url}}" data-validation="required url" />
		</div>
	</div>

	<div class="form-group">
		<div class="form-group">
			<label for="visible_text_{{urid}}">{{locale_str_system_visible_text}}:</label>
			<input id="visible_text_{{urid}}" class="form-control" type="text" name="visible_text" value="{{visible_text}}" />
		</div>
	</div>
</form>