<ul {{#is_base}}id="sitemap-{{urid}}"{{/is_base}} class="sitemap list-unstyled {{^is_base}}{{#has_children}}hide{{/has_children}}{{/is_base}}" data-parentid="{{id}}">
	{{#has_children}}
		{{#children}}
			<li data-id="{{id}}" data-orderid="{{orderid}}">
				<div class="list-item">
					<span class="drag-handle fa fa-fw fa-reorder"></span>&nbsp;
					<span class="collapse-handle fa fa-fw fa-caret-right hide">&nbsp;</span>
					<a href="{{page_url}}">{{title}}</a>
					{{#locales}}
						<span class="flag-icon flag-icon-{{.}} pull-right"></span>
					{{/locales}}
				</div>
				{{> view_sitemap_draggable}}
			</li>
		{{/children}}
	{{/has_children}}
</ul>
