<label class="checkbox">
  <input type="checkbox" name="setting_hide_admin" value="true" {{#hide_admin}}checked="checked"{{/hide_admin}} />
	{{locale_str_files_hide_admin}}
</label>

<label class="checkbox">
    <input type="checkbox" name="setting_hide_folders" value="true" {{#hide_folders}}checked="checked"{{/hide_folders}} />
	{{locale_str_files_hide_folders}}
</label>

<label class="checkbox">
    <input type="checkbox" name="setting_hide_breadcrumbs" value="true" {{#hide_breadcrumbs}}checked="checked"{{/hide_breadcrumbs}} />
	{{locale_str_files_hide_breadcrumbs}}
</label>
