{{#show_admin}}
	<div class="btn-group btn-group-sm pull-right">
		<button type="button" class="btn btn-default" onclick="NewsView.showAdd()"><i class="fa fa-plus"></i></button>
		{{#rights.allowed.update}}
			<button type="button" class="btn btn-default" onclick="NewsView.showEdit('{{id}}')"><i class="fa fa-pencil"></i></button>
		{{/rights.allowed.update}}
		{{#rights.allowed.delete}}
			<button type="button" class="btn btn-default" onclick="NewsView.showDelete('{{id}}')"><i class="fa fa-trash-o"></i></button>
		{{/rights.allowed.delete}}
	</div>
{{/show_admin}}
{{#show_title}}
	<h2>
		{{title}}
		<!--<div class="news-timestamp"><small class="prettify">{{timestamp}}</small></div>-->
	</h2>
{{/show_title}}

{{#imageid}}
	<img class="ubb-img-left" src="__api__/files/{{imageid}}/download?type=thumb" alt="" />
{{/imageid}}

{{{content.html}}}

<div class="btn btn-default row-offset4" onclick="NewsView.gotoList()">{{locale_str_news_goto_list}}</div>

<!--<script type="text/javascript">-->
	<!--$.ready(function() {-->
		<!--$(".news-timestamp > .prettify").each(function () {-->
			<!--$(this).text(moment($(this).text()).fromNow()).removeClass("prettify");-->
		<!--});-->
	<!--});-->
<!--</script>-->