<form action="__api__/news/{{id}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />

	<div class="form-group">
		<label for="{{uid}}_title">{{locale_str_system_title}}</label>
		<input id="{{uid}}_title" class="form-control" type="text" name="title" value="{{title}}" />
	</div>

	<div class="form-group">
		<label for="{{uid}}_title">{{locale_str_news_imageid}}</label>
		<input id="{{uid}}_imageid" type="hidden" name="imageid" value="{{imageid}}" />
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="{{uid}}_img_remove close {{^imageid}}hidden{{/imageid}}" style="margin-right: 5px;" onclick="NewsAddEditForm.removeImage();">&times;</div>
				<a href="javascript:void(0)" class="thumbnail" onclick="NewsAddEditForm.selectImage();" style="min-height: 138px">
					<img id="{{uid}}_img" src="{{#imageid}}__api__/files/{{imageid}}/download?type=thumb{{/imageid}}" alt="">
				</a>
			</div>
		</div>
	</div>

	<div class="form-group view_texteditor">
		<label for="{{uid}}_content">{{locale_str_news_content}}</label>
		<textarea id="{{uid}}_content" class="form-control texteditor" name='content'>{{content.raw}}</textarea>
	</div>
</form>

<div class="select_file_container clearfix"></div>
<script type="text/javascript">
	TextEditor.init("#{{uid}}_content", "newsAddEditModal");

	var NewsAddEditForm = (function($) {
		"use strict";

		function selectImage() {
			Locale.ensureLoaded('files', {loaded: function () {
				var url = "views/files/coworkers/select_file.mustache?static_only=true";
				$.get(url, {cache: false}, function (template) {
					var html = Mustache.to_html(template, Locale.getViewsStrings(["system", "files"]));
					$("#newsAddEditModal .select_file_container").html(html);
					SelectFile.show({multi: false, parentModalId: "newsAddEditModal", filter: [".png", ".jpeg", ".jpg", "gif"],
						confirmed: function (id) {
							$("#{{uid}}_imageid").val(id);
							$("#{{uid}}_img").attr("src", "__api__/files/" + id + "/download?type=thumb");
							$("#{{uid}}_img_remove").removeClass("hidden");
						}
					});
				});
			}});
		};

		function removeImage() {
			$("#{{uid}}_imageid").val("");
			$("#{{uid}}_img").attr("src", "");
			$("#{{uid}}_img_remove").addClass("hidden");
		}

		return {
			selectImage: selectImage,
			removeImage: removeImage
		}

	})(jQuery);

</script>