<form action="__api__/news/{{id}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />

	<div class="form-group">
		<label for="title_{{urid}}">{{locale_str_system_title}}</label>
		<input id="title_{{urid}}" class="form-control" type="text" name="title" value="{{title}}" />
	</div>

	{{#has_categories}}
		<div class="form-group">
			<label for="category_{{urid}}">{{locale_str_system_category}}</label>
			<select id="category_{{urid}}" class="form-control" data-validation="required">
				<option></option>
				{{#categories}}
					<option>{{.}}</option>
				{{/categories}}
			</select>
		</div>
	{{/has_categories}}

	<div class="form-group">
		<label for="title_{{urid}}">{{locale_str_news_imageid}}</label>
		<input id="imageid_{{urid}}" type="hidden" name="imageid" value="{{imageid}}" />
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="img_remove_{{urid}} close {{^imageid}}hidden{{/imageid}}" style="margin-right: 5px;" onclick="NewsAddEditForm.removeImage();">&times;</div>
				<a href="javascript:void(0)" class="thumbnail" onclick="NewsAddEditForm.selectImage();" style="min-height: 138px">
					<img id="img_{{urid}}" src="{{#imageid}}__api__/files/{{imageid}}/download?type=thumb{{/imageid}}" alt="">
				</a>
			</div>
		</div>
	</div>

	{{>rights-controls}}

	<div class="form-group view_texteditor">
		<label for="content_{{urid}}">{{locale_str_news_content}}</label>
		<textarea id="content_{{urid}}" class="form-control texteditor" name='content'>{{content.raw}}</textarea>
	</div>
</form>

<div class="select_file_container clearfix"></div>
<script type="text/javascript">
	TextEditor.init("#content_{{urid}}", "newsAddEditModal");

	var NewsAddEditForm = (function($) {
		"use strict";

		function selectImage() {
			Locale.ensureLoaded('files', {loaded: function () {
				var url = "views/files/coworkers/select_file.mustache?static_only=true";
				$.get(url, {cache: false}, function (template) {
					var html = Mustache.to_html(template, Locale.getViewsStrings(["system", "files"]));
					$("#newsAddEditModal .select_file_container").html(html);
					SelectFile.show({multi: false, parentModalId: "newsAddEditModal", filter: [".png", ".jpeg", ".jpg", "gif"],
						confirmed: function (id) {
							$("#imageid_{{urid}}").val(id);
							$("#img_{{urid}}").attr("src", "__api__/files/" + id + "/download?type=thumb");
							$("#img_remove_{{urid}}").removeClass("hidden");
						}
					});
				});
			}});
		};

		function removeImage() {
			$("#imageid_{{urid}}").val("");
			$("#img_{{urid}}").attr("src", "");
			$("#img_remove_{{urid}}").addClass("hidden");
		}

		return {
			selectImage: selectImage,
			removeImage: removeImage
		}

	})(jQuery);

</script>