<div class="btn btn-default" onclick="NewsView.add();">{{locale_str_news_add}}</div>
<div class="btn btn-default" onclick="NewsView.edit();">{{locale_str_news_edit}}</div>
<div class="btn btn-default" onclick="NewsView.delete();">{{locale_str_news_edit}}</div>
<div class="row-offset2 clearfix"></div>
{{{content.html}}}