{{#items}}
	<ul class="news-title clearfix list-unstyled">
		<li><a href="{{article_url}}?newsid={{id}}">{{title}}</a></li>
	</ul>
{{/items}}
{{#show_admin}}
	<button type="button" class="btn btn-default" onclick="NewsView.showAdd()">
		<i class="fa fa-plus"></i> {{locale_str_news_add}}
	</button>
{{/show_admin}}
