{{^is_logged_in}}
    <form id="login_form form-horizontal" class="well" action="javascript:void(0)" method="get"
          onsubmit="LoginView.authenticateWithForm(this)">
        <div class="message_login_failed alert alert-danger alert-dismissable hidden">
            <button class="close" data-dismiss="alert">×</button>
            <strong>{{locale_str_system_error}}</strong>: {{locale_str_login_failed}}
        </div>
			{{#redirect}}
          <input type="hidden" name="redirect" value="{{redirect}}"/>
			{{/redirect}}
			  <div class="form-group">
        	<label>{{locale_str_login_username}}:</label>
        	<input class="form-control" type="text" name="username" value="" data-validation="required email numeric" />
        </div>
        <div class="form-group">
	        <label>{{locale_str_login_password}}:</label>
  	      <input class="form-control" type="password" name="password" value="" data-validation="required" />
				</div>
        <div class="form-group">
       		<label>
            <input type="checkbox" name="set_cookie" value="" />
							{{locale_str_login_set_cookie}}
	        </label>
				</div>
        <input type="submit" name="submit" class="btn btn-primary"
               data-loading-text="{{locale_str_login_authenticating}}"
               data-complete-text="{{locale_str_login_success}}" value="{{locale_str_login_login}}"/>
    </form>
{{/is_logged_in}}
{{#is_logged_in}}
    <form id="signoff_form" class="well" action="javascript:void(0)" method="get"
          onsubmit="LoginView.signOffWithForm(this)">
        <label>{{locale_str_login_signoff_info}}</label>
        <input type="submit" name="submit" class="btn btn-primary" data-validation="required"
               data-loading-text="{{locale_str_login_signoff}}"
               data-complete-text="{{locale_str_system_success}}" value="{{locale_str_login_signoff}}"/>
    </form>
{{/is_logged_in}}
