<div class="form-group">
	<label>{{locale_str_video_url}}</label>
	<p class="help-block">{{locale_str_video_url_info}}</p>
	<input class="form-control" type="text" name="setting_url" value="{{url}}" data-validation="required" />
</div>