{{#id}}
	<ul class="breadcrumb">
		<li><a href="{{base_url}}" onclick="FilesView.setCurrentFolderId(''); return false;"><i class="icon-fug-files-home"></i></a> <span class="divider">/<span></li>
		{{#parents}}
			<li><a href="{{base_url}}?folderid={{id}}" onclick="FilesView.setCurrentFolderId('{{id}}'); return false;">{{title}}</a> <span class="divider">/<span></li>
		{{/parents}}
		<li class="active">{{title}}</li>
	</ul>
{{/id}}

<p>{{{description.html}}}</p>

{{#rights.allowed.update}}
	<div class="btn-group">
	  <button class="btn" data-toggle="modal" data-target="#modalAddFile" onclick="FilesView.loadForm('#modalAddFile', '#template-add-edit-file', '__api__/files', 'put'); return false">
	  	<i class='icon-fug-files-file-add'></i> {{locale_str_files_action_add_file}}
	  </button>
	  <button class="btn" data-toggle="modal" data-target="#modalAddFolder" onclick="FilesView.loadForm('#modalAddFolder', '#template-add-edit-folder', '__api__/files/folders', 'put'); return false">
	  	<i class='icon-fug-files-folder-add'></i> {{locale_str_files_action_add_folder}}
	  </button>
	</div>
	<div style="clear: both; height: 20px"></div>
{{/rights.allowed.update}}

<ul class="unstyled">
	{{^is_base_folder}}
		<li class='hover-glow' style='padding: 5px 0px;'>
			<i class='icon-fug-files-folder'></i> <a href="{{base_url}}?folderid={{parentid}}" onclick="FilesView.setCurrentFolderId('{{parentid}}'); return false;">{{locale_str_files_parent_folder}}</a>
		</li>
	{{/is_base_folder}}

	{{#subfolders}}
		<li class='hover-glow' style='padding: 5px 0px;'>
			<div class="btn-group pull-right">
				{{#rights.allowed.update}}
			    <a class="btn btn-mini" href="#" rel="tooltip" title="{{locale_str_action_edit_folder}}" data-toggle="modal" data-target="#modalEditFolder" onclick="FilesView.loadForm('#modalEditFolder', '#template-add-edit-folder', '__api__/files/folder/{{id}}', 'post'); return false"><i class="icon-fug-files-folder-edit"></i></a>
				{{/rights.allowed.update}}
				{{#rights.allowed.delete}}
				  <a class="btn btn-mini" href="#" rel="tooltip" title="{{locale_str_action_delete_folder}}" data-toggle="modal" data-target="#modalDeleteFolder" onclick="FilesView.loadForm('#modalDeleteFolder', '#template-delete-folder', '__api__/files/folder/{{id}}', 'delete'); return false"><i class="icon-fug-files-folder-delete"></i></a>
				{{/rights.allowed.delete}}
			</div>
			<i class='icon-fug-files-folder'></i> <a href="{{base_url}}?folderid={{id}}" onclick="FilesView.setCurrentFolderId('{{id}}'); return false;">{{title}}</a>
		</li>
	{{/subfolders}}
</ul>

<ul class="unstyled">
	{{#files}}
		<li class='hover-glow' style='padding: 5px 0px;'>
			<div class="btn-group pull-right">
				{{#is_archive}}
			    <a class="btn btn-mini" href="#" rel="tooltip" title="{{locale_str_action_extract_file}}" data-toggle="modal" data-target="#modalExtractFile" onclick="FilesView.loadForm('#modalExtractFile', '#template-extract-file', '__api__/files/{{id}}?action=extract', 'post'); return false"><i class="icon-fug-files-file-extract"></i></a>
				{{/is_archive}}
				{{#rights.allowed.update}}
			    <a class="btn btn-mini" href="#" rel="tooltip" title="{{locale_str_action_edit_file}}" data-toggle="modal" data-target="#modalEditFile" onclick="FilesView.loadForm('#modalEditFile', '#template-add-edit-file', '__api__/files/{{id}}', 'post'); return false"><i class="icon-fug-files-file-edit"></i></a>
				{{/rights.allowed.update}}
				{{#rights.allowed.delete}}
			    <a class="btn btn-mini" href="#" rel="tooltip" title="{{locale_str_action_delete_file}}" data-toggle="modal" data-target="#modalDeleteFile" onclick="FilesView.loadForm('#modalDeleteFile', '#template-delete-file', '__api__/files/{{id}}', 'delete'); return false"><i class="icon-fug-files-file-delete"></i></a>
				{{/rights.allowed.delete}}
			</div>

			<i class='icon-fug-files-file'></i>
			{{#is_image}}
				<a href="{{file_url}}">{{title}}</a>
			{{/is_image}}
			{{^is_image}}
				<a href="{{file_url}}">{{title}}</a>
			{{/is_image}}
		</li>
	{{/files}}
</ul>