{{locale_str_files_delete_folder_info}}
<h5>{{title}}</h5>
<form action="__api__/files/folders/{{id}}" method="delete" onsubmit='$(this).ajaxSubmit()'>
  <input type="hidden" name="_method" value="{{method}}"/>
</form>
