<form action="__api__/files/folder/" method="post">
	<input type="hidden" name="_method" value="{{method}}" />
	<input type="hidden" name="parentid" value="{{folderid}}" />
	<label >{{locale_str_system_name}}
		<input type="text" name="title" value="{{title}}" />
	</label>
	<label >{{locale_str_system_description}}
		<textarea name='description'>{{description.raw}}</textarea>
	</label>
</form>