<form action="__api__/settings/{{#key}}{{category}}/{{key}}{{/key}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />
	<input type="hidden" name="category" value="{{category}}" />

	<div class="form-group">
		<label for="settings-datatype-{{urid}}">{{locale_str_advancedsettings_type}}</label>
		<select id="settings-datatype-{{urid}}" class="form-control" name="type">
			{{#datatypes}}
				<option value="{{.}}">{{.}}</option>
			{{/datatypes}}
		</select>
	</div>

	<div class="form-group">
		<label for="settings-datatype-{{urid}}">{{locale_str_advancedsettings_level}}</label>
		<select id="settings-datatype-{{urid}}" class="form-control" name="level">
			<option value="protected" selected="selected">{{locale_str_advancedsettings_level_protected}}</option>
			<option value="public">{{locale_str_advancedsettings_level_public}}</option>
		</select>
	</div>

	<div class="form-group">
		<label for="settings-key-{{urid}}">{{locale_str_advancedsettings_key}}</label>
		<input id="settings-key-{{urid}}" class="form-control" type="text" name="key" value="{{key}}" />
	</div>

	<div class="form-group">
		<label for="settings-value-{{urid}}">{{locale_str_advancedsettings_value}}</label>
		<input id="settings-value-{{urid}}" class="form-control" type="text" name="value" value="{{value}}"/>
	</div>

</form>
<script type="text/javascript">
	$("#settings-datatype-{{urid}}").val("{{type}}");
	window.alert("{{type}}");
</script>

