{{locale_str_advancedsettings_delete_warning}}
<h5>{{category}}.{{key}}</h5>
<form action="__api__/settings/{{category}}/{{key}}" method="post">
  <input type="hidden" name="_method" value="delete" />
</form>
