<div class="row" data-key="{{key}}" {{^is_private}}id="settings-row-{{id}}" data-category="{{category}}" data-level="{{level}}"{{/is_private}}>
	{{^is_private}}
		<div class="buttons">
			<button class="btn btn-default btn-xs btn-success settings-save-btn hidden" onclick="AdvancedSettingsView.edit('{{id}}')">
				<span class='fa fa-check'></span>
			</button>
			<button class="btn btn-default btn-xs btn-danger settings-cancel-btn hidden" onclick="AdvancedSettingsView.hideEdit('{{id}}')">
				<span class='fa fa-times'></span>
			</button>

			<button class="btn btn-default btn-xs settings-edit-btn" onclick="AdvancedSettingsView.showEdit('{{id}}')">
				<span class='fa fa-pencil'></span>
			</button>

			<button class="btn btn-default btn-xs settings-delete-btn" onclick="AdvancedSettingsView.showDelete('{{id}}')">
				<span class='fa fa-trash-o'></span>
			</button>
		</div>
	{{/is_private}}

	<div class="col-xs-4 col-sm-3 advanced-settings-key">
		<span class="level-icon">
			{{#is_private}}
				<span class="fa fa-lock text-error"></span>
			{{/is_private}}
			{{#is_protected}}
				<span class="fa fa-unlock-o icon-flip-horizontal text-warning"></span>
			{{/is_protected}}
			{{#is_public}}
				<span class="fa fa-unlock text-success"></span>
			{{/is_public}}
		</span>
		{{key}}
	</div>
	<div class="hidden-xs col-sm-2 advanced-settings-type">{{type}}</div>
	<div class="col-xs-8 col-sm-7 advanced-settings-value">
		{{^is_private}}
			<div class="advanced-settings-input hidden">
				<form class="form-inline" action="__api__/settings/{{category}}/{{key}}" method="post">
					{{#as_boolean}}
						<select class="form-control">
							<option value="true">true</option>
							<option value="false" selected="true">false</option>
						</select>
					{{/as_boolean}}
					{{#as_integer}}
						<input type="text" value="" class="form-control" />
					{{/as_integer}}
					{{#as_float}}
						<input type="text" value="" class="form-control" />
					{{/as_float}}
					{{#as_string}}
						<input type="text" value="" class="form-control" />
					{{/as_string}}
				</form>
			</div>
		{{/is_private}}
		<span class="advanced-settings-value-text">{{value}}</span>
	</div>
</div>