<p>{{{locale_str_advancedsettings_info}}}</p>

<div class="panel-group" id="accordion">
	{{#settings}}
	  <div class="panel panel-default">
	    <div class="panel-heading" style="cursor: pointer" data-toggle="collapse" data-parent="#settings_panel" href="#settings_body_{{category}}">
	      <h4 class="panel-title">
	        <a class="accordion-toggle">
	          {{category}}
	        </a>
	      </h4>
	    </div>
			<div id="settings_body_{{category}}" class="panel-collapse collapse">
				<div class="panel-body">
					<p>
						<div class='settings-category-keyvalues settings-{{category}}' width='100%'>
							{{#keyvalues}}
								{{>view_row}}
							{{/keyvalues}}
						</div>
					</p>
					<button class="btn btn-default btn-sm" onclick="AdvancedSettingsView.showAdd('{{category}}')">
						<span class="fa fa-plus"></span> {{locale_str_advancedsettings_action_add}}
					</button>
				</div>
			</div>
		</div>
	{{/settings}}
</div>