<div class="files-settings hidden"
     data-urid="{{urid}}"
     data-hide_extensions="{{hide_extensions}}"
     data-hide_breadcrumbs="{{hide_breadcrumbs}}"
     data-hide_admin="{{hide_admin}}"
     data-hide_icons="{{hide_icons}}"
     data-hide_folders="{{hide_folders}}"
     data-root_folderid="{{root_folderid}}">
</div>

{{^hide_breadcrumbs}}
	{{#id}}
		<ul class="breadcrumb">
			<li><a href="{{base_url}}" onclick="FilesView.setCurrentFolderId(''); return false;"><span class="fa fa-home"></span></a> <span class="divider"></span></li>
			{{#parents}}
				<li><a href="{{base_url}}?folderid={{id}}" onclick="FilesView.setCurrentFolderId('{{id}}'); return false;">{{title}}</a> <span class="divider"></span></li>
			{{/parents}}
			<li class="active">{{title}}</li>
		</ul>
	{{/id}}
{{/hide_breadcrumbs}}

{{#has_description}}
	<p>{{{description.html}}}</p>
{{/has_description}}

{{^hide_admin}}
	{{#rights.allowed.update}}
		<div class="btn-group">
		  <button class="btn btn-default" data-toggle="modal" data-target="#modalAddFile" onclick="FilesView.loadForm('#modalAddFile', '#template-add-edit-file', '__api__/files/new', 'put'); return false">
		    <span class='fa fa-plus'></span> {{locale_str_files_action_add_file}}
		  </button>
		  <button class="btn btn-default" data-toggle="modal" data-target="#modalAddFolder" onclick="FilesView.loadForm('#modalAddFolder', '#template-add-edit-folder', '__api__/files/folder/new', 'put'); return false">
		    <span class='fa fa-plus'></span> {{locale_str_files_action_add_folder}}
		  </button>
		</div>
		<div style="clear: both; height: 20px"></div>
	{{/rights.allowed.update}}
{{/hide_admin}}

{{^hide_folders}}
	<ul class="list-unstyled">
		{{^is_base_folder}}
			<li class='hover-glow' style='padding: 5px 0;'>
				{{^hide_icons}}
          <span class='fa fa-folder-open'></span>
				{{/hide_icons}}
		 		<a href="javascript:void()" onclick="FilesView.setCurrentFolderId('{{parentid}}'); return false;">{{locale_str_files_parent_folder}}</a>
			</li>
		{{/is_base_folder}}

		{{#subfolders}}
			<li class='hover-glow' style='padding: 5px 0;'>
				{{^hide_admin}}
					<div class="btn-group pull-right">
						{{#rights.allowed.update}}
					    <a class="btn btn-default btn-xs" href="#" rel="tooltip" title="{{locale_str_action_edit_folder}}" data-toggle="modal" data-target="#modalEditFolder" onclick="FilesView.loadForm('#modalEditFolder', '#template-add-edit-folder', '__api__/files/folder/{{id}}', 'post'); return false"><span class="fa fa-pencil"></span></a>
						{{/rights.allowed.update}}
						{{#rights.allowed.delete}}
						  <a class="btn btn-default btn-xs" href="#" rel="tooltip" title="{{locale_str_action_delete_folder}}" data-toggle="modal" data-target="#modalDeleteFolder" onclick="FilesView.loadForm('#modalDeleteFolder', '#template-delete-folder', '__api__/files/folder/{{id}}', 'delete'); return false"><span class="fa fa-trash-o"></span></a>
						{{/rights.allowed.delete}}
					</div>
				{{/hide_admin}}
				{{^hide_icons}}
					<span class='fa fa-folder'></span>
				{{/hide_icons}}
				<a href="javascript:void()" onclick="FilesView.setCurrentFolderId('{{id}}'); return false;">{{title}}</a>
			</li>
		{{/subfolders}}
	</ul>
{{/hide_folders}}

<ul class="list-unstyled">
	{{#files}}
		<li class='hover-glow' style='padding: 5px 0;'>
			{{^hide_admin}}
				<div class="btn-group pull-right">
					{{#rights.allowed.update}}
						{{#is_archive}}
					    <a class="btn btn-default btn-xs" href="#" rel="tooltip" title="{{locale_str_action_extract_file}}" data-toggle="modal" data-target="#modalExtractFile" onclick="FilesView.loadForm('#modalExtractFile', '#template-extract-file', '__api__/files/{{id}}?action=extract', 'post'); return false"><span class="fa fa-archive"></span></a>
						{{/is_archive}}
				    <a class="btn btn-default btn-xs" href="#" rel="tooltip" title="{{locale_str_action_edit_file}}" data-toggle="modal" data-target="#modalEditFile" onclick="FilesView.loadForm('#modalEditFile', '#template-add-edit-file', '__api__/files/{{id}}', 'post'); return false"><span class="fa fa-pencil"></span></a>
					{{/rights.allowed.update}}
					{{#rights.allowed.delete}}
				    <a class="btn btn-default btn-xs" href="#" rel="tooltip" title="{{locale_str_action_delete_file}}" data-toggle="modal" data-target="#modalDeleteFile" onclick="FilesView.loadForm('#modalDeleteFile', '#template-delete-file', '__api__/files/{{id}}', 'delete'); return false"><span class="fa fa-trash-o"></span></a>
					{{/rights.allowed.delete}}
				</div>
			{{/hide_admin}}

			{{^hide_icons}}
         <span class='fa fa-file'></span>
			{{/hide_icons}}
			{{#is_image}}
				<a href="{{file_url}}">{{title}}</a>
			{{/is_image}}
			{{^is_image}}
				<a href="{{file_url}}">{{title}}</a>
			{{/is_image}}
		</li>
	{{/files}}
</ul>