<form enctype="multipart/form-data" action="__api__/files/{{id}}" id="form-{{urid}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />
	<input type="hidden" name="folderid" value="{{folderid}}" />

	<div class="form-group">
		<label for="file_{{urid}}">{{locale_str_files_file}}</label>
		<input id="file_{{urid}}" class="form-control" type="file" name="file" />
	</div>

  <div class="form-group">
		<label for="title_{{urid}}">{{locale_str_files_alt_name}}</label>
		<input id="title_{{urid}}" class="form-control" type="text" name="title" value="{{title}}" />
	</div>

	{{>rights-controls}}

  <div class="form-group">
		<label for="description_{{urid}}">{{locale_str_system_description}}</label>
		<textarea id="description_{{urid}}" class="form-control small" name='description'>{{description.raw}}</textarea>
	</div>
</form>


<script type="text/javascript">
	TextEditor.init("#description_{{urid}}", "form-{{urid}}");
</script>