<p>{{{locale_str_advancedsettings_info}}}</p>

<div class="accordion" id="settings_accordion">
	{{#settings}}
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="accordion-toggle" data-toggle="collapse" data-parent="#settings_accordion" href="#settings_body_{{resource}}">
					<strong>{{resource}}</strong>
				</div>
			</div>
			<div id="settings_body_{{resource}}" class="accordion-body collapse">
				<div class="accordion-inner">
					<p>
						<table class='table-striped settings-table-{{resource}}' width='100%'>
							{{#keyvalues}}
								{{>view_row}}
							{{/keyvalues}}
						</table>
					</p>
					<button class="btn btn-small" onclick="AdvancedSettings.showAdd('{{resource}}')">
						<i class="icon-plus"></i> {{locale_str_advancedsettings_action_add}}
					</button>
				</div>
			</div>
		</div>
	{{/settings}}
</div>

<div class="modal hide" id="settings_add_modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>{{locale_str_advancedsettings_action_add}}</h3>
	</div>
	<div class="modal-body">
		<form action="__api__/settings/" method="post">
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="resource" value="">
			<label>{{locale_str_advancedsettings_type}}</label>
			<select name="type">
				{{#datatypes}}
					<option value="{{.}}">{{.}}</option>
				{{/datatypes}}
			</select>
			<label>{{locale_str_advancedsettings_level}}</label>
			<select name="level">
				<option value="protected" selected="selected">{{locale_str_advancedsettings_level_protected}}</option>
				<option value="public">{{locale_str_advancedsettings_level_public}}</option>
			</select>
			<label>{{locale_str_advancedsettings_key}}</label>
			<input type="text" name="key"/>
			<label>{{locale_str_advancedsettings_value}}</label>
			<input type="text" name="value"/>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">{{locale_str_system_cancel}}</button>
		<button class="btn btn-primary save-btn">{{locale_str_system_save}}</button>
	</div>
</div>

<div class="modal hide" id="settings_delete_modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>{{locale_str_advancedsettings_action_delete}}</h3>
	</div>
	<div class="modal-body">
		{{locale_str_advancedsettings_delete_warning}}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">{{locale_str_system_cancel}}</button>
		<button class="btn btn-danger delete-btn">
			<i class="icon-trash"></i> {{locale_str_system_delete}}
		</button>
	</div>
</div>
