<form enctype="multipart/form-data" action="__api__/files/{{id}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />
	<input type="hidden" name="folderid" value="{{folderid}}" />

	<div class="form-group">
		<label>{{locale_str_files_file}}</label>
		<input class="form-control" type="file" name="file" />
	</div>

  <div class="form-group">
		<label for="{{urid}}_title">{{locale_str_files_alt_name}}</label>
		<input class="form-control" id="{{urid}}_title" type="text" name="title" value="{{title}}" />
	 </div>

  <div class="form-group">
		<label for="{{urid}}_description">{{locale_str_system_description}}</label>
		<textarea class="form-control" id="{{urid}}_description" name='description'>{{description.raw}}</textarea>
	</div>
</form>
