<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_admin" value="true" {{#hide_admin}}checked="checked"{{/hide_admin}} />
		{{locale_str_files_hide_admin}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_folders" value="true" {{#hide_folders}}checked="checked"{{/hide_folders}} />
		{{locale_str_files_hide_folders}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_breadcrumbs" value="true" {{#hide_breadcrumbs}}checked="checked"{{/hide_breadcrumbs}} />
		{{locale_str_files_hide_breadcrumbs}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_extensions" value="true" {{#hide_extensions}}checked="checked"{{/hide_extensions}} />
		{{locale_str_files_hide_extensions}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_icons" value="true" {{#hide_icons}}checked="checked"{{/hide_icons}} />
		{{locale_str_files_hide_icons}}
	</label>
</div>

<div class="form-group">
	<label>{{locale_str_files_root_folderid}}</label>
  <input class="form-control" type="text" name="setting_root_folderid" value="{{root_folderid}}" />
</div>

<script type='text/javascript'>

</script>
