<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_admin" data-type="boolean" value="{{hide_admin}}" />
		{{locale_str_files_hide_admin}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_folders" data-type="boolean" value="{{hide_folders}}" />
		{{locale_str_files_hide_folders}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_breadcrumbs" data-type="boolean" value="{{hide_breadcrumbs}}" />
		{{locale_str_files_hide_breadcrumbs}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_extensions" data-type="boolean" value="{{hide_extensions}}" />
		{{locale_str_files_hide_extensions}}
	</label>
</div>

<div class="checkbox">
	<label>
		<input type="checkbox" name="setting_hide_icons" data-type="boolean" value="{{hide_icons}}" />
		{{locale_str_files_hide_icons}}
	</label>
</div>

<div class="form-group">
	<label>{{locale_str_files_root_folderid}}</label>
  <input class="form-control" type="text" name="setting_root_folderid" value="{{root_folderid}}" />
</div>

<script type='text/javascript'>
	BooleanBoxes.init();
</script>
