{{#may_update}}
	<div class="remove-member-icon"><i class="fa fa-times"></i></div>
	<div class="remove-member-bar hidden bg-danger" data-userid="{{id}}">
		<div class="bg-danger">
			<span class="inactive"><i class="fa fa-times"></i> {{locale_str_system_remove}}</span>
			<span class="active hidden"><i class="fa fa-spinner fa-spin"></i></span>
		</div>
	</div>
{{/may_update}}