iframe {
  border: 0;
}

.loading {
  background: center center no-repeat url("mojura/images/loading.gif");
  height: 50px;
}


.hover-glow:hover {
  background-color: #F6F6F6;
}

.row-offset1 {
  margin-top: 10px
}

.row-offset2 {
  margin-top: 20px
}

.row-offset3 {
  margin-top: 30px
}

.row-offset4 {
  margin-top: 40px
}

.row-offset5 {
  margin-top: 50px
}

.row-offset6 {
  margin-top: 60px
}

.row-offset7 {
  margin-top: 70px
}

.row-offset8 {
  margin-top: 80px
}

.row-offset9 {
  margin-top: 90px
}

.row-offset10 {
  margin-top: 100px
}

.view {
  position: relative;
  min-height: 1px;
}

.view-admin {
  clear: both;
  margin-top: -30px;
}

.view-admin .btn-xs {
  padding: 5px;
}

@media (min-width: 768px) {
  .modal-large .modal-dialog, .modal-extra-large  .modal-dialog{
    width: 800px;
  }
}

@media (max-width: 768px) {
  .row > .view {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .modal-extra-large  .modal-dialog{
    width: 1050px;
    max-height: 700px;
  }
}

.editable {
  margin-top: 40px;
  min-height: 40px;
  -moz-box-shadow: 0 0 3px silver;
  -webkit-box-shadow: 0 0 3px silver;
  box-shadow: 0 0 3px silver;
}

.editable:hover {
  -moz-box-shadow: 0 0 3px blue;
  -webkit-box-shadow: 0 0 3px blue;
  box-shadow: 0 0 3px blue;
}

.thumbnails .small_title {
  margin-top: 5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.ubb-carousel {
  line-height: inherit;
}

.label-horizontal
{
  display: inline-block;
  clear: both;
  float: left;
  width: 45%;
  margin-right: 5%;
}

.control-horizontal {
  display: inline-block;
  float: left;
  width: 45%;
}

.nav-bottom-space {
  margin-bottom: 15px;
}

.soft-hide {
  display: none;
}

.view-settings {
  padding: 20px;
}