<div class="leaflet-map-wrapper">
	{{#show_admin}}
		<div class="btn-group btn-group-sm">
			<button type="button" class="btn btn-default" onclick="MapsView.addLocation('map_{{urid}}')"><i class="fa fa-plus"></i></button>
		</div>
	{{/show_admin}}

	<div id="map_{{urid}}" class="leaflet-map"></div>
</div>

<script type="text/javascript">
	options = {};
	{{#tile_url}}options.tileUrl = "{{tile_url}}";{{/tile_url}}
	{{#tile_attribution}}options.tileAttribution = "{{{tile_attribution}}}";{{/tile_attribution}}
	{{#category}}options.category = "{{category}}";{{/category}}
	{{#show_admin}}options.showAdmin = true;{{/show_admin}}
	MapsView.initMap("map_{{urid}}", options);
	MapsView.loadLocations("map_{{urid}}", {{#zoom}}{{zoom}}{{/zoom}}{{^zoom}}-1{{/zoom}});
</script>