<form action="__api__/locations/{{id}}" method="post">
	<input type="hidden" name="_method" value="{{method}}" />
	<input type="hidden" name="latitude" value="{{latitude}}" />
	<input type="hidden" name="longitude" value="{{longitude}}" />

	<div class="form-group">
		<label for="title_{{urid}}">{{locale_str_system_title}}</label>
		<input id="title_{{urid}}" class="form-control" type="text" name="title" value="{{title}}" />
	</div>

	<div class="form-group {{#latitude}}{{^address}}hidden{{/address}}{{/latitude}}">
		<label for="address_{{urid}}">{{locale_str_maps_address}}</label>
		<div class="alert alert-danger alert-dismissable alert-address-not-found hidden">
			<strong>{{locale_str_system_error}}</strong> {{locale_str_maps_address_not_found}}
		</div>
		<input id="address_{{urid}}" class="form-control" type="text" name="address" value="{{address}}" />
	</div>

	{{>locales-selection}}

	<div class="form-group view_texteditor">
		<label for="description_{{urid}}">{{locale_str_system_description}}</label>
		<textarea id="description_{{urid}}" class="form-control texteditor small" name='description'>{{description.raw}}</textarea>
	</div>
</form>

<script type="text/javascript">
	TextEditor.init("#description_{{urid}}", "mapsAddEditModal");
</script>
