{{^is_authenticated}}

	{{^has_credentials}}
		{{locale_str_gcalendar_no_credentials}}
	{{/has_credentials}}

	{{#has_credentials}}
		{{^may_authorize}}
			{{locale_str_gcalendar_needs_authorisation_no_rights}}
		{{/may_authorize}}
		{{#may_authorize}}
			{{locale_str_gcalendar_needs_authorisation}}

			<div><a class='btn btn-default' href='{{auth_redirect_url}}'>{{locale_str_gcalendar_authorize}}</a></div>
		{{/may_authorize}}
	{{/has_credentials}}

{{/is_authenticated}}

{{#is_authenticated}}
	{{#has_events}}
		<i>{{locale_str_gcalendar_no_events}}</i>
	{{/has_events}}
	{{#has_events}}
		{{#todays_events}}
			<div class='row'>
				<div class='col-md-2 gcalendar_time'>{{time}}</div>
				<div class='col-md-7 gcalendar_summary'>{{summary}}</div>
				<div class='col-md-3 gcalendar_location'>{{calendar}}</div>
			</div>
		{{/todays_events}}
	{{/has_events}}

{{/is_authenticated}}
