<lable>{{locale_str_news_type}}</lable>
<select name="setting_type">
	<option value="overview">{{locale_str_news_type_overview}}</option>
	<option value="list">{{locale_str_news_type_list}}</option>
	<option value="article">{{locale_str_news_type_article}}</option>
</select>

<label class="checkbox">
	<input type="checkbox" name="setting_inline" value="true" {{#inline}}checked="checked"{{/inline}} />
	{{locale_str_news_inline}}
</label>

<script type="text/javascript">
	$("option[value={{type}}]", "#modalEditView").prop("selected", "selected");
</script>