<div id="contact_form_container_{{urid}}">
	<form id='contact_form_{{urid}}' action="__api__/data" method="post">
		<input type="hidden" name="_method" value="post" />
		<input type="hidden" name="type" value="contact" />

		<div class="form-group">
			<label for="name_{{urid}}">{{locale_str_system_name}}:</label>
			<input id="name_{{urid}}" class="form-control" type="text" name="name" value="" data-validation="required" />
		</div>

		<div class="form-group">
			<label for="email_{{urid}}">{{locale_str_system_email}}:</label>
			<input id="email_{{urid}}" class="form-control" type="text" name="email" value="" data-validation="required email" />
		</div>

		<div class="form-group">
			<label for="text_{{urid}}">{{locale_str_system_description}}:</label>
			<textarea id="text_{{urid}}" class="form-control" name="text" data-validation="required"></textarea>
		</div>

		<div class="form-group">
			<input type="submit" class="btn btn-primary" data-loading-text="{{locale_str_system_send}}..." value="{{locale_str_system_send}}" />
		</div>

	</form>
	<div class="thanks hidden">{{locale_str_contact_thanks}}</div>
</div>

<script type="text/javascript">

	$("form", "#contact_form_container_{{urid}}").ajaxForm({
		beforeSubmit: function(arr, $form, options) {
			if (Validator.validateForm($form[0])) {
				$(".btn-primary", "#contact_form_container_{{urid}}").button("loading");
				return true;
			}
			else {
				return false;
			}
		},
		success: function() {
			$("form", "#contact_form_container_{{urid}}").remove();
			$(".thanks", "#contact_form_container_{{urid}}").removeClass("hidden");
		}
	});
</script>